<div class="field-config">
  <div class="field-config__header">
    <div class="field-config__title-block">
      <div class="field-config__icon">
        <i class="bi bi-input-cursor"></i>
      </div>
      <div class="field-config__text">
        <strong>Field Configuration</strong>
        <span>Configure Which Name Fields Are Visible In Different Contexts</span>
      </div>
    </div>

    <div class="field-config__toggle-block">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="customToggle" [(ngModel)]="isCustom" />
      </div>
      <span>Custom</span>
    </div>
  </div>

  <div class="field-config__body">
    <div class="field-config__body-header">
      <span>Choose A Predefined Configuration Or Create Custom</span>
      <span class="field-config__count">{{ enabledCount }} of {{ totalCount }} enabled</span>
    </div>

    <div class="field-config__grid">
      <label class="field-config__checkbox" *ngFor="let field of fields">
        <input type="checkbox" [(ngModel)]="field.checked" />
        <span>{{ field.label }}</span>
      </label>
    </div>
  </div>
</div>